.main-layout {
    max-width: 480px;
    margin: auto;
    transition: max-width 0.5s;
    
    @media (min-width: $mobile-breakpoint) {
        max-width: $narrow-breakpoint - 250px;
    }
    @media (min-width: $narrow-breakpoint) {
        max-width: $normal-breakpoint - 250px;
        border-inline-start: 1px solid rgba(0, 0, 0, 0.2);
        border-inline-end: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.page-pad {
    padding: 40px 20px 20px 20px;

    @media (min-width: $mobile-breakpoint) {
        padding: 40px;
    }
}
