.contact-preview .skeleton-container {
    * {
        height: 40px !important;
        margin: 0 !important;
        margin-inline-end: 10px !important;
    }
    @media (min-width: $mobile-breakpoint) {
        height: 100px !important;
        * {
            width: 100px !important;
            height: 100px !important;
            margin-inline-end: 0 !important;
            border-radius: 0 !important;
        }
    }
    @media (min-width: $mobile-breakpoint) and (max-width: $normal-breakpoint) {
        margin-block-end: 5px !important;
    }
    @media (min-width: $normal-breakpoint + 1px) {
        margin-inline-end: 150px !important;
    }
}
