<form class="contact-edit main-layout page-pad" #form="ngForm" (ngSubmit)="onSubmitForm(form.value)">
    <div class="flex j-between a-center">
        <img class="pointer" src="../../../assets/imgs/back.png" (click)="redirectToContacts()" />
        <img class="pointer" src="../../../assets/imgs/delete.png"
            (click)="contactService.deleteContact(contact._id); redirectToContacts()" />
    </div>
    <article>
        <ngx-skeleton-loader *ngIf="!imgLoaded" animation="pulse" style="height: inherit"
            [theme]="{margin: 0, height: 'inherit', width: '100px'}">
        </ngx-skeleton-loader>
        <img class="user-img" #userImg (load)="onImgLoad()" [src]="contact._id ? 'https://robohash.org/set_set5/'+contact.name+'?size=100x100' 
            : '../../../assets/imgs/avatar.png'" alt="" />
    </article>
    <div class="flex j-between a-center">
        <p>Name</p>
        <input [ngModel]="contact.name" name="name" type="text" class="grow" />
    </div>
    <div class="flex j-between a-center">
        <p>Phone</p>
        <input [ngModel]="contact.phone" name="phone" type="text" class="grow" />
    </div>
    <div class="flex j-between a-center">
        <p>Email</p>
        <input [ngModel]="contact.email" name="email" type="text" class="grow" />
    </div>
    <button type="submit">Save</button>
</form>