.contact-edit {
    & > div {
        &:first-of-type {
            margin-block-end: 50px;
            img {
                height: 30px;
                width: 30px;
            }
        }
        &:not(:first-of-type) {
            margin-block-end: 25px;
            p {
                margin-inline-end: 25px;
                font-size: 1.2em;
            }
        }
    }
    article {
        margin-block-end: 50px;
        height: 100px;
    }
    .user-img {
        height: inherit;
        width: 100px;
        display: none;
        opacity: 0;
        transition: opacity 0.1s;
    }
    button {
        float: right;
        border: none;
        font-size: 1.05em;
        padding: 10px;
    }
}
