@import "../../../styles/variables";

.home {
    h2 {
        font-size: 2em;
        margin-block-end: 50px;
    }
    h3 {
        margin-block-end: 20px;
    }
    small {
        margin-block-end: 10px;
    }
    article {
        @media (min-width: $mobile-breakpoint) {
            flex-direction: row;
        }
        > div {
            margin-block-end: 35px;
            &:first-child {
                & > div {
                    margin-block-end: 10px;
                    img {
                        height: 25px;
                        margin-inline-end: 10px;
                    }
                    p {
                        font-weight: 500;
                    }
                }
            }
            &:last-child {
                strong {
                    font-size: 1.5em;
                }
            }
        }
    }
}
