@import "material-icons/iconfont/material-icons.scss";

.contact-details {
    > div {
        &:first-of-type {
            margin-block-end: 50px;
            img {
                height: 30px;
                width: 30px;
            }
        }
        &:not(:first-of-type):not(:last-of-type) {
            margin-block-end: 25px;
        }
        &:last-of-type {
            margin-block-start: 50px;
        }
        .material-icons {
            font-size: 2em;
        }
    }
    > article {
        margin-block-end: 35px;
        height: 100px;
    }
    .user-img {
        height: inherit;
        width: 100px;
        display: none;
        opacity: 0;
        transition: opacity 0.1s;
    }
    p {
        margin-block-end: 5px;
        font-size: 1.1em;
        font-weight: 600;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}
